:root{
--heliotrope:#9e00fa;

}
/* this css style was for the orginal html content that has now been commented out also in the index
 body {
    font-family: "Lucida Sans Unicode", "Lucida Grande";
  }

  h1 {
    text-decoration: underline;
  }
  #question-one {
    color: slateblue;
  }

  #question-two {
    color:rgb(69, 158, 121);
  }

  #question-three {
    color:tomato;
  } */

  .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: inset 0px 0px 18px var(--heliotrope), 0 0 25px var(--heliotrope);
    font-size: 3em;
}


  .card, .form {
    background: radial-gradient(circle, rgba(108, 209, 170, 0.986) 0%, rgba(63, 72, 206, 0.604) 100%);
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(0, 0, 0, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
    box-shadow: inset 0px 0px 18px var(--heliotrope), 0 0 25px hsl(293, 87%, 78%);
    font-size: 1.5em;
  }

  #start-button {
    display: block;
  }

    /* #start-button { */
      /* display: flex; */
     /* align-self:  center;  */
 /* } */
 /* .form {
  display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: inset 0px 0px 0px var(--heliotrope), 0 0 25px var(--heliotrope);
    font-size: 1em;
 } */
